@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>User Name: @ViewBag.UserName</h2>
<h2>Role is Admin: @ViewBag.IsUserRole</h2>
<h2>Authentification Type: @ViewBag.AuthType</h2>
